body {
	margin: 50 100 auto;
}
th	{
	text-align: left;
}
th, td {
	padding: 5px;
}
.th_width {
	min-width: 120px;
}
#result {
	padding-top: 5px;
	color: blue;
}
.input_box {
	margin-bottom: 5px;
	width: 300px;
}
.submit_button {
	margin-top: 10px;
}
.text_align_center {
	text-align: center;
}
.control_board {
	height: 180px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: #f2f2f3;
	padding-top: 15px;
	padding-left: 100px;
}
#shortcut_data {
	margin-bottom: 175px;
	font-size: 14px;
}
.input_item {
	display: inline-block;
	width: 100px;
}