body {
	margin: 50 100 auto;
}
th	{
	text-align: left;
}
th, td {
	padding: 5px;
}
.th_width {
	min-width: 120px;
}
#result {
	padding-top: 5px;
	color: blue;
}
.input_box {
	margin-bottom: 5px;
	width: 300px;
}
.submit_button {
	margin-top: 10px;
}
.text_align_center {
	text-align: center;
}
.select_board {
	height: 95px;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	border-bottom:1px solid #bababa;
	background-color: #e3e3e3;
	padding-left: 100px;
	padding-top: 18px;
}
.control_board {
	height: 180px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	border-top:1px solid #bababa;
	background-color: #f9f9f9;
	padding-top: 15px;
	padding-left: 100px;
}
#shortcut_data {
	margin-top: 110px;
	margin-bottom: 175px;
	font-size: 14px;
}
.input_item {
	display: inline-block;
	width: 100px;
}