body {
	margin: 100 100 auto;
}
th	{
	text-align: left;
}
th, td {
	padding: 5px;
}
.th_width {
	min-width: 120px;
}
#result {
	padding-top: 10px;
	color: red;
}
.input_box {
	margin-bottom: 5px;
}
.submit_button {
	margin-top: 10px;
}