body {
	margin: 0 0 auto;
}
.fa-grey {
	color: #b8b8b8;
}
.hat {
	margin-top: 0px;
	width: 100%;
	height: 180px;
	background-color: #ea4c89;
}
.header {
	width: 100%;
	text-align: center;
	padding-top: 65px;
	color: #FFFFFF;
}
.menu {
	height: 50px;
	width: 100%;
	background-color: rgba(227, 227, 227, 0.84);
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
}
.content_center {
	margin: 0 auto;
}

@media screen and (min-width: 960px) {
	.content_center {width: 960px; }
}
@media screen and (max-width: 959px) {
	.content_center {width: 720px; }
}

.entry {
	float: left;
	padding-top: 12px;
}
.entry li {
	list-style-type: none;
	padding: 15px 13px 17px 13px;
	display: inline;
	margin-right: -3px;
}
.entry li a {
	color: inherit;
	text-decoration: none;
}
.entry li:hover {
	color: white;
	background-color: #444;
}
.entry_active {
	color: white;
	background-color: #444;	
}
.search {
	float: right;
	width: 300px;
	padding-top: 9px;
}
.data {
	min-height: 640px;
}
.shortcut {
	width: 220px;
	height: 200px;
	border: 1px solid #ea4c89;
	float: left;
	margin: 10px;
}
.shortcut:hover {
	background-color: #f8ffd4;
}
.shortcut:hover .shortcut_rate{
	display: none;
}
.shortcut:hover .shortcut_count{
	display: block;
}
.logo {
	width: 128px;
	height: 128px;
	margin-left: 44px;
	margin-top: 10px;
}
.shortcut_name {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	font-size: 18px;
}
.shortcut_rate {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #fdb73f;
}
.shortcut_count {
	display: none;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #a0a0a0;
}
.footer {
	height: 60px;
	width: 100%;
	bottom: 0px;
	left: 0px;
	background-color: #f2f2f3;
	color: #858790;
	padding-top: 20px;
	margin-top: 20px;
	text-align: center;
	font-size: 12px;
}